html, body{
    padding: 0;
    margin: 0;
    height: 100%;
    background-color:black;
    font-size: 1.5em;
    font-family: arial;
}

/*body {
	background-color:black;
	font-size: 1.5em;
	font-family: arial;
}
*/
div#console {
	text-align:center;
}

div#rules {
	font-size: .8em;
}

div.meter {
	width:200px;
	height:20px;
	background-color:white;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	
	font-size: 0.7em;
	color:black;
	font-weight: bold;
}

div#fullness_meter {
	margin-top:auto;
	top: 650px;
}

div#fun_meter {
	margin-top:auto;
	top: 700px;
}

p {
	color:white;
}

img {
	margin-left: 0;
	margin-right:0;
	margin-top: 12%;
	margin-bottom: auto;
}

img#pet {
	position: absolute;
	top:15%;
	margin-left: 8%;
	width:200px;
	height:200px;
}

button {
	font-style: italic;
	border-radius: 8px;
}

button#start {
	float: left;
   	position: absolute;
   	left: 5%;
    top: 5%;
   	z-index: 1000;
	background-color: rgba(109, 111, 114, .8);
	border: none;
	width:90%;
	height:90%;
	font-size: 8em;
	color: white;
	font-weight: bold;
	/*margin-right: 300px;*/
	/*position: relative;*/
}

.startoverlay{
	position:absolute;
    left:0px; 
    right:0px;
    height: 90%px;
}

.sidebar{
	background-color: red;
	/*position:absolute;*/
	float:left;
    left:0px; 
    top:10%; 
    bottom:0px;
    width:30%;
}

.main{
	background-color: blue;
	/*position:absolute;*/
	float:right;
    left:0%; 
    right:0%;
    height: 80%;
}

.status {
	background-color: green;
    /*position:absolute;*/
    float:right;
    width: 70%;
    text-align: center;
    right:50%;
    height:10%;
}